---
---

<section class="setup reveal">
  <div class="container">
    <div class="setup__rule"></div>
    <span class="section-label">YOUR SETUP</span>
    <ul class="setup__list">
      <li>Your body.</li>
      <li>One pair of dumbbells.</li>
      <li>Space to move.</li>
      <li>That's it.</li>
    </ul>
  </div>
</section>

<style>
  .setup {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .setup__rule {
    width: 80px;
    height: 2px;
    background-color: var(--charcoal);
    margin-bottom: 20px;
  }

  .setup__list {
    list-style: none;
    font-family: var(--font-body);
    font-size: 19px;
    color: var(--charcoal);
    line-height: 1.8;
  }

  @media (max-width: 768px) {
    .setup {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .setup__list {
      font-size: 17px;
    }
  }
</style>
